**Exercise 4**

In [ ]:
temp = int(input("Enter the temperature in F "))
temp_in_C = (temp - 32)*5/9 #converting the temperature
print("The temperature in C is: ",temp_in_C) #printing the result

Enter the temperature in F 32
The temperature in C is:  0.0

**Exercise 6**

In [2]:
a = int(input())
b = int(input())
c = int(input())
D = b**2 - 4*a*c
if D > 0:
  x1 = (-b + sqrt(D))/2*a
  X2 = (-b - sqrt(D))/2*a
  print(x1,x2)
elif D==0:
  x = (-b)/2*a
  print(x)
else:
  print("Nope")

1
2
1
-1.0

**Exercise 8**

In [1]:
name = input()
age = int(input())
nation = input()
print(f"Welcome {name} you are {age} years old and a national of {nation}")

Angelos
16
Greece
Welcome Angelos you are 16 years old and a national of Greece

**Exercise 9**

In [ ]:
#kg to lbs
kg = int(input())
lbs = 2.2*kg
print(lbs)

10
22.0